{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Warsaw Green Roof Mapping</title>
	{% block extra_js %} {% endblock %}
</head>
	<body>

		<h2>Welcome to Warsaw Green Roof Mapping Site!</h2>

		<h3>We're developing 🌱 Here will be data for Wola district 📣</h3>
		
		{% block content %}
        {% endblock %}
		</br>
		<div>
			<h3>Direct Map from Google Maps below:</h3>
			<h1>'I will be here!' -  Map 🗺</h1>
			<!---- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgFBEhKWM98zvpQHY1h2C_VaVqMDQ2urE&callback=initMap"></script> ---->
		</div>

	</body>
</html>